@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	color: #2F4F4F;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: #2F4F4F;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 3%;
	margin-top: 1%;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {  
	color: darkgreen ;
}

.cta {
	display: inline-block;
	padding: 10px 30px;
	color: #696969;
	background-color: transparent;
	border: 2px solid #B2BEB5 ;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: #B2BEB5;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #2F4F4F;
}
/*.brand h1 span {
	color:#673147;
} */

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: #B2BEB5;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: ivory;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: #696969;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #2F4F4F; 
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #2F4F4F;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-color: #FFC0CB;
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}

#intro{
	color: teal;
}

#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #FFFFF0;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: 100%;
	font-size: 3rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}

#hero h1:nth-child(2) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 2s;
}

#hero h1:nth-child(3) {
	animation-delay: 3s;
} 

#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color:#B2BEB5;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
	color: #2F4F4F;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}

/* End Hero Section */

/* Skills Section */
#services .services {
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 3%;
	padding: 50px 0;
}
#services .service-top {
	max-width: 500px;
	margin: 3%;
}
#services .service-bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 3%;
}

#hello{
	font-size: 2rem;
	margin-bottom: 1%;
}

#services .service-item {
	flex-basis: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 4%;
	border-radius: 5%;
	background-image: url(./img/img-1.png);
	background-size: cover;
	margin: 3%;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
#services .service-item::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	/*background-image: linear-gradient(60deg, white 0%, #FFC0CB 100%); */
	background-color: #B2BEB5;
	opacity: 0.7;
	z-index: -1;
}
#services .service-bottom .icon {
	height: 80px;
	width: 80px;
	margin-bottom: 3%;
}
#services .service-item h2 {
	font-size: 2.5rem;
	color: black;
	margin-bottom: 5px;
	text-transform: uppercase;
}
#services .service-item p{
	color: #2F4F4F;
	text-align: left;
	font-size: 1.5rem;
}
#services .service-item:hover {
    transform: scale(1.1);
	box-shadow: 0px 0px 5px 0 #0000002c;
}

/* End Services Section */


/* Projects section */
/*
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-color: #B2BEB5;
	opacity: 0.6;
	color: black;
}
/*
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: black;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #FFFFF0;
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}  */
/* End Projects section */


/* project new style */
.container2{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s ease box-shadow;
  }
  

  /*Styles for product card*/
  
  .product .product-card{
	z-index: 1;
	background-color: rgb(245, 245, 220);
	filter: brightness(120%); 
	position: relative;
	width: 350px;
	height: 400px;
	margin: 10%;
	border-radius: 10px;
  }
  
  .product .product-card:before{
	content: '';
	background-color: #B2BEB5;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
  }
  
  .product .product-card .product-img{
	z-index: 1;
	position: absolute;
	max-width: 350px;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .product .product-card:hover {
    transform: scale(1.1);
	box-shadow: 0px 0px 5px 0 #0000002c;
}

  .product .product-card .name{
	z-index: 2;
	color: #2F4F4F;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 130px;
	font-size: 20px;
	letter-spacing: 1px;
  }
    
  .product .product-card .popup-btn{
	z-index: 2;
	color: #fff;
	background-color: #2F4F4F;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 10px 15px;
	border-radius: 20px;
	cursor: pointer;
  }
  
  /*Styles for popup view*/
  
  .product .popup-view{
	z-index: 2;
	background: rgba(255, 255, 255, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease box-shadow;
  }
  
  .product .popup-view.active{
	opacity: 1;
	visibility: visible;
  }
  
  .product .popup-card{
	position: relative;
	display: flex;
	width: 800px;
	height: 500px;
	margin: 20px;
  }
  
  .product .popup-card .product-img{
	z-index: 2;
	background: #1D212B;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45%;
	height: 90%;
	transform: translateY(25px);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
  }
  
  .product .popup-card .product-img img{
	z-index: 2;
	position: relative;
	width: 450px;
	left: -50px;
  }
  
  .product .popup-card .info{
	z-index: 2;
	background: #fff;
	display: flex;
	flex-direction: column;
	width: 55%;
	height: 100%;
	box-sizing: border-box;
	padding: 40px;
	border-radius: 10px;
  }
  
  .product .popup-card .close-btn{
	color: #555;
	z-index: 3;
	position: absolute;
	right: 0;
	font-size: 20px;
	margin: 20px;
	cursor: pointer;
  }
  
  .product .popup-card .info h2{
	font-size: 40px;
	line-height: 20px;
	margin: 10px;
  }
  
  .product .popup-card .info h2 span{
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
  }
  
  .product .popup-card .info p{
	font-size: 15px;
	margin: 10px;
  }
  
  /*Responsive styles*/
  
  @media (max-width: 900px){
	.product .popup-card{
	  flex-direction: column;
	  width: 550px;
	  height: auto;
	}
  
	.product .popup-card .product-img{
	  z-index: 3;
	  width: 100%;
	  height: 200px;
	  transform: translateY(0);
	  border-bottom-left-radius: 0;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
	}
  
	.product .popup-card .product-img img{
	  left: initial;
	  max-width: 100%;
	}
  
	.product .popup-card .info{
	  width: 100%;
	  height: auto;
	  padding: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
  
	.product .popup-card .info h2{
	  margin: 20px 5px 5px 5px;
	  font-size: 25px;
	}
  
	.product .popup-card .info h2 span{
	  font-size: 10px;
	}
  
	.product .popup-card .info p{
	  margin: 5px;
	  font-size: 13px;
	}
  
	.product .popup-card .close-btn{
	  z-index: 4;
	}
  }
		
		
/* project new style end */


/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 1.8rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}

#about .col-right .cta::after {
	color: white;
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 100%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}

/* End About Section */

/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
	transform: scale(1.1);
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */

/* Footer */
#footer {
	background-color:#B2BEB5;
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: #2F4F4F;
	}
}
@keyframes text_reveal_name {
	100% {
		color: #B2BEB5;
		font-weight: 5000;
		text-decoration: solid;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid teal;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */